/* Start Headings */
.h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px auto 40px;
}
.h3::first-letter {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .h3 {
    font-size: 24px;
  }
}
.text-with-border {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px #ffda30 solid;
  padding-bottom: 4px;
}
.text-with-border::first-letter {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .text-with-border {
    font-size: 13px;
  }
}
/* End Headings*/
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

/* End Global Rules */
/* ==============Start buttons==============*/
/*Start back to top button*/
.back-to-top {
  position: fixed;
  right: 40px;
  bottom: 120px;
  z-index: 2000;
  display: none;
}
.back-to-top i {
  font-size: 20px;
  position: relative;
  z-index: 2001;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.back-to-top:hover i {
  color: #ffda30;
}
.back-to-top::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -25px;
  background: url(../imgs/uplers-shape.svg) no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  z-index: 1999;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.back-to-top:hover::before {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  background: url(../imgs/uplers-shape-black.svg) no-repeat;
  background-size: contain;
}

/*End back to top button*/
.btn {
  display: block;
  margin: 20px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 30px;
  text-align: center;
  background-color: #ffda30;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:hover, .btn.black, .btn.black-white {
  background-color: #000;
  color: white;
}
.btn.black:hover {
  background-color: #ffda30;
  color: #000;
}
.btn.black-white:hover {
  background-color: white;
  color: #000;
}
@media (max-width: 767px) {
  .btn {
    padding: 10px;
    font-size: 17px;
  }
}

.send-message {
  background: #ffda30;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 15px;
  padding-left: 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 30px;
  border-radius: 20px;
  font-size: 20px;
  color: #333;
  z-index: 1000;
  font-weight: 600;
}
.send-message i {
  margin-right: 10px;
}

.send-message-popup {
  position: fixed;
  width: 300px;
  max-width: 300px;
  z-index: 2002;
  background-color: #fff;
  right: 20px;
  bottom: 90px;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}
.send-message-popup .content {
  background-color: #ffda30;
  padding: 20px 10px;
  border-radius: 20px 20px 5px 5px;
}
.send-message-popup .content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.send-message-popup .content p {
  font-size: 15px;
  line-height: 1.5;
}
.send-message-popup form {
  padding: 10px;
  width: 100%;
}
.send-message-popup form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: capitalize;
  color: #000;
}
.send-message-popup form input[type=text],
.send-message-popup form input[type=email],
.send-message-popup form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #707070;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.send-message-popup form textarea {
  min-height: 100px;
}
.send-message-popup form input[type=text]:focus,
.send-message-popup form input[type=email]:focus,
.send-message-popup form textarea:focus {
  outline: none;
  border-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #707070;
          box-shadow: 0px 0px 5px 0px #707070;
}
.send-message-popup form .btn {
  margin: 5px 0;
  padding: 10px 5px;
  font-size: 18px;
  width: 100%;
}

.border {
  border: 2px solid #333;
}

/* =================End buttons==================== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header .menu li {
  position: relative;
}
header .menu li a {
  font-size: 18px;
  text-transform: capitalize;
  color: #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
header .menu li a i {
  margin-left: 5px;
  color: #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .menu li a:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
header .menu li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .menu li a:hover::before {
  width: 100%;
}
header .menu li .small-menu {
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  max-width: 200px;
  width: 180px;
  left: 50%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  background-color: #f2f2f2;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .menu li .small-menu ul li {
  margin-bottom: 10px;
}
header .menu li .small-menu ul li a {
  display: inline-block;
  font-size: 16px;
  -webkit-transition: none;
  transition: none;
}
header .menu li .small-menu ul li a::before {
  bottom: 0px;
  -webkit-transition: none;
  transition: none;
}
header .menu li.contain-small-menu:hover .small-menu {
  opacity: 1;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.change-header-bg {
  background-color: white !important;
  border-bottom: 2px solid #f2f2f2;
}

/* Start Landing Section */
.landing-section {
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 98vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-section .text {
  max-width: 600px;
}
.landing-section .text h2 {
  font-size: 44px;
  margin-bottom: 15px;
}
.landing-section .text p {
  font-size: 18px;
  line-height: 1.7;
}

/* End Landing Section */
/*Start form-content Section*/
.form-content .right-part {
  background: #f2f2f2;
  padding: 70px 50px;
}
.form-content .right-part .contact-options .number {
  font-size: 25px;
  color: #000;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.form-content .right-part .contact-options .number:hover {
  color: #ffda30;
}
.form-content .right-part .contact-options .mails .mail {
  margin: 30px 0;
}
.form-content .right-part .contact-options .mails .mail p {
  color: #707070;
  margin-bottom: 4px;
}
.form-content .right-part .contact-options .mails .mail a {
  color: #000;
}
.form-content .right-part .contact-options .mails .mail a:hover {
  text-decoration: underline;
}
.form-content .right-part .contact-options .social-links ul li {
  margin-right: 10px;
}
.form-content .right-part .contact-options .social-links ul li a {
  color: #707070;
  font-size: 18px;
}
.form-content .right-part .contact-options .social-links ul li a:hover {
  color: #000;
}
.form-content .left-part {
  padding: 70px 50px;
}
.form-content .left-part .h3 {
  text-align: left;
  margin: 0px auto 40px;
}
.form-content .left-part .hiring-options {
  margin-bottom: 20px;
}
.form-content .left-part .hiring-options li {
  margin-right: 10px;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-weight: 500;
  cursor: pointer;
}
.form-content .left-part .boxs .box .sub-options {
  margin: 30px 0;
}
.form-content .left-part .boxs .box .sub-options li {
  margin-right: 15px;
  padding-bottom: 6px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: 1px #707070 solid;
  cursor: pointer;
}
.form-content .left-part .boxs .box .sub-options li.active-sub-option {
  border-bottom-color: #ffda30;
}
.form-content .left-part .boxs .box .sub-opt p::first-letter {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 10px;
}
.form-content .left-part .boxs .box .type-of-devs li {
  color: #707070;
}
.form-content .left-part .boxs .box .type-of-devs li [type=checkbox] + label::before, .form-content .left-part .boxs .box .type-of-devs li [type=checkbox] + label::after {
  border-color: #707070;
}

.active-option {
  background-color: #ffda30;
  font-weight: 600;
}

.active-sub-option {
  border-bottom-color: #ffda30;
}

/* styling the checkboxes and radios */
[type=checkbox], [type=radio] {
  opacity: 0;
}

[type=checkbox] + label, [type=radio] + label {
  padding-left: 18px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: 15px;
  font-size: 15px;
  text-transform: capitalize;
}

[type=checkbox] + label::before, [type=radio] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px #000 solid;
  background: #fff;
}

[type=checkbox] + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 4px;
  width: 8px;
  border: 2px #000 solid;
  -webkit-transform: rotate(124deg);
          transform: rotate(124deg);
  border-bottom: none;
  border-left: none;
  opacity: 0;
}

[type=checkbox]:checked + label::after {
  opacity: 1;
}

/* some plus features for radio inputs*/
[type=radio] + label::before {
  border-radius: 50%;
}

[type=radio] + label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
}

[type=radio]:checked + label::after {
  opacity: 1;
}

/* styling inputs of type text */
[type=text], [type=email], [type=number] {
  width: 100%;
  border: none;
  border-bottom: 1.5px #000 solid;
  margin: 10px 0;
  padding: 5px 0 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
[type=text]::-webkit-input-placeholder, [type=email]::-webkit-input-placeholder, [type=number]::-webkit-input-placeholder {
  font-size: 15px;
  color: #000;
  text-transform: capitalize;
}
[type=text]::-moz-placeholder, [type=email]::-moz-placeholder, [type=number]::-moz-placeholder {
  font-size: 15px;
  color: #000;
  text-transform: capitalize;
}
[type=text]:-ms-input-placeholder, [type=email]:-ms-input-placeholder, [type=number]:-ms-input-placeholder {
  font-size: 15px;
  color: #000;
  text-transform: capitalize;
}
[type=text]::-ms-input-placeholder, [type=email]::-ms-input-placeholder, [type=number]::-ms-input-placeholder {
  font-size: 15px;
  color: #000;
  text-transform: capitalize;
}
[type=text]::placeholder, [type=email]::placeholder, [type=number]::placeholder {
  font-size: 15px;
  color: #000;
  text-transform: capitalize;
}
[type=text]:focus, [type=email]:focus, [type=number]:focus {
  outline: none;
  border-bottom-color: #ffda30;
}

@media (max-width: 767px) {
  .form-content {
    font-size: 15px;
  }
  .form-content .left-part, .form-content .right-part {
    padding: 70px 10px;
  }
  .form-content .left-part .hiring-options li {
    font-size: 12px;
    padding: 10px;
    margin-bottom: 5px;
  }

  .form-content .right-part .contact-options .mails .mail p {
    font-size: 14px;
  }

  [type=text]::-webkit-input-placeholder, [type=email]::-webkit-input-placeholder, [type=number]::-webkit-input-placeholder {
    font-size: 12px;
  }

  [type=text]::-moz-placeholder, [type=email]::-moz-placeholder, [type=number]::-moz-placeholder {
    font-size: 12px;
  }

  [type=text]:-ms-input-placeholder, [type=email]:-ms-input-placeholder, [type=number]:-ms-input-placeholder {
    font-size: 12px;
  }

  [type=text]::-ms-input-placeholder, [type=email]::-ms-input-placeholder, [type=number]::-ms-input-placeholder {
    font-size: 12px;
  }

  [type=text]::placeholder, [type=email]::placeholder, [type=number]::placeholder {
    font-size: 12px;
  }

  [type=checkbox] + label, [type=radio] + label {
    font-size: 13px;
  }

  [type=checkbox] + label::before, [type=radio] + label::before {
    height: 10px;
    width: 10px;
  }

  [type=radio] + label::after {
    height: 6px;
    width: 6px;
  }

  [type=checkbox] + label::after {
    height: 3px;
    width: 7px;
  }
}
/*End form-content Section*/
/* Start Our branches Section */
.our-branchs {
  padding: 70px 0px 0px;
}
.our-branchs .container .row > * {
  padding: 0;
}
.our-branchs .google-map-container iframe {
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.our-branchs .branches-names {
  font-size: 14px;
}
.our-branchs .branches-names .h3 {
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
}
.our-branchs .branches-names .btn {
  font-size: 13px;
  padding: 5px 10px;
}
.our-branchs .branches-names li {
  padding: 20px 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our-branchs .branches-names li.active-option::after {
  display: none;
}
.our-branchs .branches-names li::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 5px 0;
  bottom: -3px;
  left: 0;
}
.our-branchs .branches-names li .address {
  font-size: 14px;
  font-weight: normal;
  margin: 10px 0;
}
.our-branchs .branches-names li .number {
  margin: 10px 0;
}
.our-branchs .branches-names li .number a {
  font-size: 14px;
  color: #707070;
}
.our-branchs .branches-names li .number a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .our-branchs .branches-names {
    margin-top: 16px;
    position: relative;
  }
  .our-branchs .branches-names li.active-option::before {
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent #ffda30;
    border-width: 0 1rem 1rem;
    content: "";
    position: absolute;
    top: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/* End Our branches Section */
/* Start Footer Section */
footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #303030;
}
footer .row {
  margin-bottom: 20px;
}
footer .boxs .box {
  margin-bottom: 30px;
}
footer .boxs .box h3 {
  font-size: 17px;
  font-weight: normal;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}
footer .boxs .box h3 i {
  font-size: 14px;
  display: none;
}
footer .boxs .box a {
  color: #707070;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: capitalize;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer .boxs .box a:hover {
  color: #ffda30;
}
@media (max-width: 767px) {
  footer .boxs .box {
    border-bottom: 1px solid #707070;
  }
  footer .boxs .box h3 {
    cursor: pointer;
  }
  footer .boxs .box h3 i {
    display: inline-block;
    margin-left: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  footer .boxs .box ul {
    display: none;
  }
}
footer .more-info-click {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
footer .more-info-click h2 {
  text-align: center;
  text-transform: capitalize;
  color: #707070;
  background-color: #40403f;
  font-size: 22px;
  font-weight: normal;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}
footer .more-info-click h2 i {
  margin: 0 7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .hidden-box {
  display: none;
}
footer .subscribe form {
  width: 100%;
}
footer .subscribe form input[type=email] {
  margin-right: 5px;
  border: none;
  border-bottom: 2px solid #ffda30;
  padding: 10px;
  background-color: #303030;
}
footer .subscribe form input:focus {
  outline: none;
}
footer .subscribe form .btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
}
footer .footer-contact {
  margin: 20px 0;
  font-size: 18px;
}
footer .footer-contact .call {
  margin-bottom: 10px;
}
footer .footer-contact .call a {
  color: #ffda30;
  padding-right: 10px;
  border-right: 1px solid #707070;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .footer-contact .call:hover a {
  color: #fff;
}
footer .footer-contact .email a {
  color: #fff;
  margin-left: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .footer-contact .email:hover a {
  color: #ffda30;
}
footer .social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .social h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: normal;
  color: #707070;
  margin-right: 5px;
}
footer .social ul li {
  margin: 0 10px;
}
footer .social ul li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #707070;
  position: relative;
}
footer .social ul li a:hover {
  background-color: transparent;
}
footer .social ul li a::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -8px;
  height: 40px;
  width: 40px;
  opacity: 0;
  -webkit-transform: scale(0.1) rotate(90deg);
          transform: scale(0.1) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  background: url(../imgs/uplers-shape.svg) no-repeat;
  background-size: contain;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .social ul li a:hover::before {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
footer .social ul li a i {
  font-size: 16px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .social ul li a:hover i {
  color: #000;
}
footer .addresses {
  padding: 20px 0;
  margin: 40px 0;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
}
footer .addresses .col-md-3:not(:last-child) {
  border-right: 1px solid #707070;
}
footer .addresses .part h3 {
  margin-top: 10px;
  font-size: 17px;
  font-weight: normal;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}
footer .addresses .part h3 i {
  font-size: 14px;
  display: none;
}
footer .addresses .part p {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffda30;
  margin-bottom: 15px;
}
footer .addresses .part a {
  font-size: 15px;
  color: white;
  margin-bottom: 15px;
  display: block;
}
footer .addresses .part a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  footer .addresses .col-md-3:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #707070;
  }
  footer .addresses .part h3 {
    cursor: pointer;
  }
  footer .addresses .part h3 i {
    display: inline-block;
    margin-left: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  footer .addresses .part ul {
    display: none;
  }
}
footer .copyright {
  font-size: 12px;
  color: #707070;
}
footer .copyright a {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid #ffda30;
}
footer .copyright a:hover {
  color: #ffda30;
}

/* End Footer Section */