/* Start Landing Section */ 
.landing-section{
    @include padding($padding null);
    min-height: 98vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    .text{
        max-width: 600px;
        h2{
            font-size: 44px;
            margin-bottom: 15px;
        }
        p{
            font-size: 18px;
            line-height: 1.7;
        }
    }
}
@include breakPoints(small){
    .landing-section{
        min-height: 70vh !important;
        .text{
            h2{
                font-size: 30px;
            }
            p{
                font-size: 17px;
            }
        }
    }
}
@include breakPoints(mobile){
    .landing-section{
        min-height: 50vh !important;
        .text{
            h2{
                font-size: 24px;
            }
            p{
                font-size: 16px;
            }
        }
    }
}
/* End Landing Section */ 