 /* Start people-first section */
 .people-first{
    padding: $padding 0;
    background-color: $main-color;
    .heart{
        position: relative;
        i{
            font-size: 80px;
            color: red;
        }
    }
    h5{
        font-size: 18px;
    }
    p{
        line-height: 1.6;
    }
}
@include breakPoints(mobile){
    .people-first{
         h5{
             font-size: 16px;
         }
         p{
             font-size: 14px;
         }
         .heart{
             margin-bottom: 8px;
         }
     }
 }
 /* End people-first section */

/*  Start vibe Section */
.vibe{
    position: relative;
    background: #f8f8f8;
    &::before{
        content: "";
        position: absolute;
        background-image: url(../imgs/culture/wave-dots-shape.svg);
        background-repeat: no-repeat;
        @include size(200px ,100px);
        left: 0;
        top: 20%;
    }
    .container{
        overflow-x: hidden;
        .text{
            h3{
                font-size: 22px;
                margin-bottom: 15px;
            }
            ul{
                li{
                    font-size: 18px;
                    text-transform: capitalize;
                    font-weight: 400;
                    margin-bottom: 8px;
                }
            }
        }
    }
    .img-content{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image: url(../imgs/culture/circle-dash-shap.svg);
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}  
@include breakPoints(mobile){
    .vibe{
        &::before{
            display: none;
        }
        .text{
            h3{
                font-size: 18px;
            }
        }
        .container{
            max-width: 750px;
        }
        .img-content{
            &::before{
                display: none;
            }
        }
    }
}
/*  End vibe Section */  

/* Start Uplers philosophy */
.upler-philosophy{
    padding: $padding 0;
    h3.hash-heading{
        text-align: center;
    }
    .philo{
        padding: 10px;
        text-align: center;
        img{
            max-width: 100px;
            max-height: 110px;
            height: 110px;
        }
        p{
            padding: 0 10px;
            font-size: 1.1rem;
            font-weight: 400;
            margin-top: 5px;
            line-height: 1.6;
            text-transform: capitalize;
        }
    }
}
/* End Uplers philosophy */ 

/*  Start remote-life Section */ 
.remote-life{
    padding: $padding 0;
    .slick-imgs{
        figure{
            margin: 0 10px;
        }
    }
}
/*  End remote-life Section */ 

/* Start women of upler section */ 
.women-of-uplers{
    padding: $padding 0;
    background: url(../imgs/culture/women-of-uplers.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        background: url(../imgs/culture/circle-dots-shape.svg);
        @include size(7rem,11.9rem);
        z-index: 1;
        right: 0;
        bottom: 10px;
    }
    .hash-heading,ul li{
        color: #fff;
    }
    ul{
        li{
            position: relative;
            font-size: 1.2rem;
            margin-bottom: 15px;
            margin-left: 15px;
            z-index: 2;
            &::before{
                content: "";
                position: absolute;
                @include size(12px);
                background-color: $main-color;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: -15px;
            }
        }
    }
}
/* End women of upler section */ 

/* Start key-drivers section */ 
.key-drivers{
    padding: $padding 0;
    background-color: $main-color;
    position: relative;
    overflow: hidden;
    .values{
        text-align: center;
        position: relative;
        z-index: 2;
        h3{
            margin-bottom: 25px;
            font-size: 1.3rem;
            font-weight: 500;
            text-transform: capitalize;
        }
        p{
            line-height: 2;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
    &::before,&::after{
        content: "";
        position: absolute;
        background: url(../imgs/culture/half-circle-dots-shape.svg);
        @include size(13rem,17.4rem);
        z-index: 1;
    }
    &::before{
        top:10px;
    }
    &::after{
        right: -70px;
        bottom: 6%;
        transform: rotate(180deg);
    }
}
@include breakPoints(mobile){
    .key-drivers{
        .values{
            p{
                font-size: 1.4rem;
            }
        }
    }
}
/* End key-drivers section */ 